.wrapper-modal-form {
  position: fixed;
}
#modal_form {
  width: 80%;
  border-radius: 5px;
  border: 3px #000 solid;
  background: #fff;
  position: relative;
  display: none;
  z-index: 5;
  padding: 20px 10px;
}
#modal_close {
  width: 21px;
  height: 21px;
  position: relative;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}
#overlay {
  z-index:3;
  position:fixed;
  background-color:#000;
  opacity:0.8;
  -moz-opacity:0.8;
  filter:alpha(opacity=80);
  width:100%;
  height:100%;
  top:0;
  left:0;
  cursor:pointer;
  display:none;
}