#navigation .navbar-nav.navbar-right {
  margin-top: 20px;
}
.navbar-header h1 {
  margin: 20px 5px 0 5px;
  font-size: 1.5em;
}
.header-text {
  padding: 180px 0;
  font-size: 42px;
  color: #fff;
}
.brown {
  color: #0A0A13;
}
@media (max-width: 375px) {
  .navbar-header h1 {
    font-size: 24px;
  }
  .header-text {
    padding: 70px 0;
    font-size: 30px;
  }
}

.big-video {
  padding: 0;
}
.wrappervideo .btn-primary, .modal-wrapper .btn-primary, .portfolio-items-on .btn-primary {
  background-color: #fc7700;
  border-color: #fc7700;
  border-radius: 0;
  padding: 10px 35px;
  text-transform: uppercase;
  font-weight: 800;
  transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}
.header-text span {
  line-height: 54px;
}
.upper {
  text-transform: uppercase;
}
.hotname {
  font-style: italic;
}
.wrappervideo {
  background-color: rgba(0, 0, 0, 0.53);
  z-index: 1;
  width: 100%;
  height: 700px;
  top: 0;
  position: absolute;
  left: 0;
}
.big-background, .big-background-default-image {
  height: 577px;
}
.video-piter-img {
  display: none;
  height: auto;
}
.header-text .noup {
  line-height: 34px;
  text-transform: none;
  font-size: 20px;
  font-weight: 300;
}
.marg-button {
  margin: 25px auto;
}
.portfolio-image {
  max-height: 254px;
}
.portfolio-items-on {
  margin: 30px;
}
.modal-wrapper {
  margin: 30px;
}
.aboutimg {
  margin: auto;
  padding: 10px 5px;
  width: 220px;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
}
.cvgsize {
  margin: 30px;
}
#contact-form-section {
  margin: 0 auto;
  width: 50%;
}
@media (max-width: 1024px) {
  #contact-form-section {
    width: 100%;
  }
  .big-background, .big-background-default-image {
    height: 700px;
    background: url("../images/NewImages/video-back-img.jpg");
  }
  .her-video {
    display: none;
  }
  .video-piter-img {
    display: block;

  }
}
.contact-details {
  padding-top: 10px;
}

.grid-20 {
  float: left;
  width: 20%;
  padding: 0 10px;
  height: 130px;
  display: table-cell;
  vertical-align: middle;
}
.her-video {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.modal-footer a {
  float: left;
}
@media (max-width: 767px) {
  .grid-20 {
    width: 50%;
  }
  .nav-tabs li.liblock, .nav-tabs li.liblock a {
    width: 100%;
    padding-right: 0;
    margin-right: 0;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    border-radius: 4px 4px 0 0;
  }

  .modal-footer a {
    font-size: 13px;
  }
}
.grid-30 {
  width: 30%;
  margin: 0 auto;
}
.about-room {
  font-weight: 700;
}
.item-on-icon {
  margin: 0 auto;
  width: 60px;
  height: 60px;
}
.tinkoffPayRow {
  display: block;
  margin: 5% auto;
  /*margin-bottom: 15px;*/
}
#map {
  width: 100%;
  height: 450px;
  padding: 0;
  margin: 0;
}
#footer a {
  margin: 0 20px;
  color: #000;
}
.spanblock {
  display: inline-block;
}
.center {
  margin: 0 auto;
  float: none;
}